apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: pulpaccessrequests.konflux.io
spec:
  group: konflux.io
  scope: Namespaced
  names:
    plural: pulpaccessrequests
    singular: pulpaccessrequest
    kind: PulpAccessRequest
    shortNames:
      - par
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required: ["cert", "key"]
              properties:
                cert:
                  type: string
                key:
                  type: string

